# Build artifacts
build/
dist/
*.spec.backup

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# PyInstaller
*.manifest

# Maniforge generated
apps/
maniforge.yaml
!examples/maniforge.yaml

# Semantic release
CHANGELOG.md

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
